@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
}

.header, .intro, .footer {
    background: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    height: 50px;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
}

.header .right {
    font-size: 18px;
    display: flex;
    gap: 25px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    gap: 35px;
}

.intro .left, .intro .img-placeholder {
    width: 100%;
}

.intro .img-placeholder {
    height: 200px;
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.title-subtext {
    margin-bottom: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    text-align: center;
    border-radius: 7px;
    border: none;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    padding: 8px;
    width: 120px;
    font-size: 16px;
}

.information {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;
}

.info-container {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-evenly;
    gap: 40px;
    font-size: 18px;
    font-weight: 200;
    color:grey;
    margin-top: 40px;
    margin-bottom: 80px;
}

.info-pic {
    width: 170px;
}

.info-pic .img-placeholder {
    width: 100%;
    height: 170px;
    border: 4px, solid, #3882F6;
    border-radius: 15px;
    justify-self: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding-left: 20%;
    padding-right: 20%;
    color: #1F2937; 
}

.quote .quotation {
    margin-top: 80px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote .attribution {
    margin-top: 10px;
    text-align: end;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 80px;
}

.signup-banner {
    display: flex;
    background-color: #3882F6;
    margin: 80px 5% 80px 5%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    gap: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.signup-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.signup-text {
    color: #E5E7EB;
}

.signup-banner button {
    border: 2px solid #F9FAF8;
}

.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}